[Unit]
Description=Shitcoin's distributed currency daemon
After=network.target

[Service]
User=shitcoin
Group=shitcoin

Type=forking
PIDFile=/var/lib/shitcoind/shitcoind.pid

ExecStart=/usr/bin/shitcoind -daemon -pid=/var/lib/shitcoind/shitcoind.pid \
          -conf=/etc/shitcoin/shitcoin.conf -datadir=/var/lib/shitcoind

ExecStop=-/usr/bin/shitcoin-cli -conf=/etc/shitcoin/shitcoin.conf \
         -datadir=/var/lib/shitcoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
